/* Enter your custom styles here */

.roundClass .sapMBtnInner {
    border-radius: 30px;
}

.toolbar,
.sapMIBar.sapMHeader-CTX {
    background-color: #13243c;
}

.gridListItem {
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.gridLabel {
    display: block;
}

.goodbyeText {
    display: block;
    font-size: 2rem;
}

.byeText {
    display: block;
}


/* continue button*/

.sapMBtnText>.sapMBtnIcon {
    position: absolute;
    top: 12.5px;
    left: 10px;
}


/*cancel button*/

span.sapMBtnInner.sapMBtnReject .sapUiIcon {
    top: 1.5px;
}


/*back button*/

.sapMBtnIcon {
    font-size: 1.375rem;
    line-height: 2.375rem;
    width: 2.375rem;
    top: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-height: 2.375rem;
}

.footerButton .sapMBtnContent {
    line-height: 3.7;
}

.footerButton .sapMBtnInner {
    font-size: 1.1rem;
}

.headerTitleStyle .sapMTitle {
    color: #ffffff;
}

.sapMDialog>header.sapMDialogTitle .sapMTitle {
    color: #ffffff;
}

.hidden {
    display: none;
}

.sapMText {
    font-size: 1.2em;
}

.sapMText {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    display: flex;
    height: 75px;
    width: 100%;
    background-color: #13243c;
    justify-content: center;
}

.footerButton,
.footerButton * {
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

.sapMLabel {
    font-size: 1.2rem;
}

.sapMShellBrandingBar {
    background-color: #13243c;
}

.driveGate {
    font-size: 1.5rem;
}

.headerToolbar {
    padding-left: 5px;
    padding-right: 5px;
}

.sapMInputBaseInner,
.sapMInputBaseInner::placeholder {
    font-size: 1.2rem;
}

.goodbyeText {
    display: block;
    font-size: 2.5rem;
}

.byeText {
    display: block;
    font-size: 2rem;
}